streamlit==1.35.0
langchain_community==0.2.6
langchain-core==0.2.11
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.1
langchain==0.2.6
langsmith==0.1.77
faiss-cpu==1.8.0.post1
langchain==0.2.6
